*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebf2ff;
    font-family: "Roboto Slab", sans-serif;
    overflow-x: hidden;
}

.button__primary{
    background-image: linear-gradient(
        to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    color: #ffff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
    
  }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.navbar__brand{
    width: 100px;
    margin-right: 10px;
}

.navbar__logo{
    width: 100%;
}

.hero__container{
    width: 100%;
    margin-left: 0;
}

.hero__image__container{
    width: 100%;
    position: relative;
}

.hero__image{
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__image__shape{
    position: absolute;
}

.hero__text{
   color: #1d3557;
   font-size: 30px;
   margin: 20px 0;
}

.explore__menu__container{
    width: 100%;
}

.explore__menu__text{
    color: #1d3557;
   font-size: 30px;
   margin: 20px 0;
   text-align: center;
}

.food__menu__card{
    width: 100%;
    background-color: #ffff;
    border-radius: 8px;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.explore__menu__card__description{
    background-color: #ffff;
    padding: 20px;

}

.explore__menu__view__more {
    display: flex;
    justify-content: center;
}

.restaurant__container{
   width: 100%;
}

.restaurants__description{
    color: #1d3557;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.restaurant__flex__row__one{
    display: flex;
    width: 100%;
    gap: 4px;
    align-items: baseline;
    margin-bottom: 15px;
}

.restaurant__flex__row__two{
    display: flex;
    width: 100%;
    gap: 4px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.restaurant__1,
.restaurant__4 {
  width: 100%;
  height: 150px;
}

.restaurant__2,
.restaurant__3 {
  width: 100%;
  height: 200px;
}

.information{
    width: 100%;
}

.information__updates{
    color: #1d3557;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.information__updates__container{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.update__form__email{
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    background-color: lightpink;
    opacity: 0.5;
}

.quote__container {
    position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-image: url(images.jpg);
    opacity: 0.8;
}

.quote__container__text{
    color: white;
}


@media (min-width: 768px){

    .navbar{
        padding: 10px 20px;
        justify-content: space-between;
    }

    .navbar__brand{
        width: 150px;
    }

    .button__primary{
        padding: 12px 20px;
        font-size: 20px;
        font-weight: 300;
    }

    .hero__container{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .explore__menu__list{
        display: flex;
        gap: 8px;
        margin-top: 15px;
    }

    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__bg{
            background-image: linear-gradient(
                to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100% 
        );

        left: 0;
       top: 0;

       height: 100%;
       width: 100%;
        z-index: -3;
        position: absolute;
        transform: skewY(-5deg);
    }

    .explore__menu__text{
        font-size: 40px;
    }

    #pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .restaurant__container{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 30px;
    }

    .restaurant__flex{
        width: 100%;
        padding: 30px;
    }

}

@media(min-width: 1020px){

    .container {
        max-width: 900px;
        padding: 20px;
      }
    
      .hero__text {
        font-size: 50px;
      }

      .restaurants__container{
        margin-top: 30px;
      }
      .restaurants__description{
          font-size: 50px;
          width: 100%;
      }

      .information__updates{
          font-size: 50px;
      }
      .update__form__email{
          width: 300px;
          height: 35px;
      }

}

@media (min-width: 1400px) {
    .container {
      max-width: 1300px;
    }
    .explore__menu__text{
        font-size: 50px;
    }

}
